body{
  margin: 0;
      padding: 0;
 }
  .content {
     
     
     display: block;
      display:flex;
      flex-direction: column;
      text-align: center;
      background: linear-gradient(to right,   rgb(5, 226, 241),  rgb(255, 0, 255));
      color: white;
   }

   .content h1{
    padding-top: 10%;
}    
.content p{
    padding-top: 1%;
}    
  #svg{
      background: linear-gradient(to right,   rgb(5, 226, 241),  rgb(255, 0, 255));
      
  }


.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 0px 8px 8px 32px;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}


.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position:top;
  top: 5;
  right: 25px;
  font-size: 50px;
  text-align:end ;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #06eeffd2;
  color: white;
  padding: 10px 15px;
  border-radius: 50%;
}

.openbtn:hover {
  background-color: rgb(34, 61, 138);
}

#main {
  transition: margin-left .5s;
  padding: 16px;
  justify-content: left;
  text-align: left;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

@media screen and (min-width: 480px) {
    .title {
     padding-left: 10%;
     padding-right: 10%;

    }
  }

